body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #e7e7e7;
}

/*div,p,a,img {
    margin: 0;
    padding: 0;
}*/

.main-wrapper {
    width: 886px;
    display: inline-block;
    text-align: initial;
}

.preheader {
    background-image: url('../img/preheader.jpg');
    height: 71px;
}

.header {
    background-image: url('../img/header.jpg');
    height: 78px;
}

.title {
    font-size: 20px;
}

.navigation {
    background-image: url('../img/menu.jpg');
    height: 32px;
}

.main-body {
    background-image: url('../img/bg.jpg');
}

.left {
    width: 520px;
    border-right-style: dotted;
    border-right-color: #d2d2d2;
}

.right {
    width: 170px;
}

.title-article {
    font-size: 18px;
    letter-spacing: -1px;
}

.img-article {
    height: 160px;
}

.content-article {
    font-size: 13px;
    line-height: 20px;
}

.author-img {
    content:url("../img/comment.gif");
}

.author-article {
    font-size: 14px;
    text-align: right;
    border-top: 1px #d2d2d2 solid;
}

.search-box {
    width: 125px;
    border-style: dotted;
    border-color: gray;
}

.submit-bt {
    border: none;
    background: none;
}

.recent-5-articles {
    font-size: 13px;
    color: black;
    margin-bottom: 25px;
}

.footer {
    background-image: url('../img/footer.jpg');
    height: 78px;
}

.img-shortcut {
    float: left;
    width: 160px;
}

