.a-reset {
    text-decoration: none;
    color: black;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.white {
    color: white;
}

.black {
    color: black;
}

.red {
    color: red;
}

.font-bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.no-repeat {
    background-repeat: no-repeat;
}

.no-collapse {
    overflow: hidden;
}

.font-serif {
    font-family: serif;
}

.font-sans {
    font-family: sans-serif;
}

.pt-025 {
	padding-top:0.25rem;
}

.pt-05 {
	padding-top:0.5rem;
}

.pt-075 {
	padding-top:0.75rem;
}

.pt-1 {
	padding-top:1rem;
}

.pt-2 {
	padding-top:2rem;
}

.pt-3 {
	padding-top:3rem;
}

.pt-4 {
	padding-top:4rem;
}

.pt-5 {
	padding-top:5rem;
}

.pr-025 {
	padding-right:0.25rem;
}

.pr-05 {
	padding-right:0.5rem;
}

.pr-075 {
	padding-right:0.75rem;
}

.pr-1 {
	padding-right:1rem;
}

.pr-2 {
	padding-right:2rem;
}

.pr-3 {
	padding-right:3rem;
}

.pr-4 {
	padding-right:4rem;
}

.pr-5 {
	padding-right:5rem;
}

.pb-025 {
	padding-bottom:0.25rem;
}

.pb-05 {
	padding-bottom:0.5rem;
}

.pb-075 {
	padding-bottom:0.75rem;
}

.pb-1 {
	padding-bottom:1rem;
}

.pb-2 {
	padding-bottom:2rem;
}

.pb-3 {
	padding-bottom:3rem;
}

.pb-4 {
	padding-bottom:4rem;
}

.pb-5 {
	padding-bottom:5rem;
}

.pl-025 {
	padding-left:0.25rem;
}

.pl-05 {
	padding-left:0.5rem;
}

.pl-075 {
	padding-left:0.75rem;
}

.pl-1 {
	padding-left:1rem;
}

.pl-2 {
	padding-left:2rem;
}

.pl-3 {
	padding-left:3rem;
}

.pl-4 {
	padding-left:4rem;
}

.pl-5 {
	padding-left:5rem;
}

.mt-025 {
	margin-top:0.25rem;
}

.mt-05 {
	margin-top:0.5rem;
}

.mt-075 {
	margin-top:0.75rem;
}

.mt-1 {
	margin-top:1rem;
}

.mt-2 {
	margin-top:2rem;
}

.mt-3 {
	margin-top:3rem;
}

.mt-4 {
	margin-top:4rem;
}

.mt-5 {
	margin-top:5rem;
}

.mr-025 {
	margin-right:0.25rem;
}

.mr-05 {
	margin-right:0.5rem;
}

.mr-075 {
	margin-right:0.75rem;
}

.mr-1 {
	margin-right:1rem;
}

.mr-2 {
	margin-right:2rem;
}

.mr-3 {
	margin-right:3rem;
}

.mr-4 {
	margin-right:4rem;
}

.mr-5 {
	margin-right:5rem;
}

.mb-025 {
	margin-bottom:0.25rem;
}

.mb-05 {
	margin-bottom:0.5rem;
}

.mb-075 {
	margin-bottom:0.75rem;
}

.mb-1 {
	margin-bottom:1rem;
}

.mb-2 {
	margin-bottom:2rem;
}

.mb-3 {
	margin-bottom:3rem;
}

.mb-4 {
	margin-bottom:4rem;
}

.mb-5 {
	margin-bottom:5rem;
}

.ml-025 {
	margin-left:0.25rem;
}

.ml-05 {
	margin-left:0.5rem;
}

.ml-075 {
	margin-left:0.75rem;
}

.ml-1 {
	margin-left:1rem;
}

.ml-2 {
	margin-left:2rem;
}

.ml-3 {
	margin-left:3rem;
}

.ml-4 {
	margin-left:4rem;
}

.ml-5 {
	margin-left:5rem;
}

.ma-0 {
    margin: 0rem;
}

.ma-025 {
	margin:0.25rem;
}

.ma-05 {
	margin:0.5rem;
}

.ma-075 {
	margin:0.75rem;
}

.ma-1 {
	margin:1rem;
}

.ma-2 {
	margin:2rem;
}

.ma-3 {
	margin:3rem;
}

.ma-4 {
	margin:4rem;
}

.ma-5 {
	margin:5rem;
}

.pa-025 {
	padding:0.25rem;
}

.pa-05 {
	padding:0.5rem;
}

.pa-075 {
	padding:0.75rem;
}

.pa-1 {
	padding:1rem;
}

.pa-2 {
	padding:2rem;
}

.pa-3 {
	padding:3rem;
}

.pa-4 {
	padding:4rem;
}

.pa-5 {
	padding:5rem;
}

.px-025 {
	padding-left:0.25rem;
	padding-right:0.25rem;
}

.px-05 {
	padding-left:0.5rem;
	padding-right:0.5rem;
}

.px-075 {
	padding-left:0.75rem;
	padding-right:0.75rem;
}

.px-1 {
	padding-left:1rem;
	padding-right:1rem;
}

.px-2 {
	padding-left:2rem;
	padding-right:2rem;
}

.px-3 {
	padding-left:3rem;
	padding-right:3rem;
}

.px-4 {
	padding-left:4rem;
	padding-right:4rem;
}

.px-5 {
	padding-left:5rem;
	padding-right:5rem;
}

.py-025 {
	padding-top:0.25rem;
	padding-bottom:0.25rem;
}

.py-05 {
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

.py-075 {
	padding-top:0.75rem;
	padding-bottom:0.75rem;
}

.py-1 {
	padding-top:1rem;
	padding-bottom:1rem;
}

.py-2 {
	padding-top:2rem;
	padding-bottom:2rem;
}

.py-3 {
	padding-top:3rem;
	padding-bottom:3rem;
}

.py-4 {
	padding-top:4rem;
	padding-bottom:4rem;
}

.py-5 {
	padding-top:5rem;
	padding-bottom:5rem;
}

.mx-025 {
	margin-top:0.25rem;
	margin-bottom:0.25rem;
}

.mx-05 {
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}

.mx-075 {
	margin-top:0.75rem;
	margin-bottom:0.75rem;
}

.mx-1 {
	margin-top:1rem;
	margin-bottom:1rem;
}

.mx-2 {
	margin-top:2rem;
	margin-bottom:2rem;
}

.mx-3 {
	margin-top:3rem;
	margin-bottom:3rem;
}

.mx-4 {
	margin-top:4rem;
	margin-bottom:4rem;
}

.mx-5 {
	margin-top:5rem;
	margin-bottom:5rem;
}

.my-025 {
	margin-top:0.25rem;
	margin-bottom:0.25rem;
}

.my-05 {
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}

.my-075 {
	margin-top:0.75rem;
	margin-bottom:0.75rem;
}

.my-1 {
	margin-top:1rem;
	margin-bottom:1rem;
}

.my-2 {
	margin-top:2rem;
	margin-bottom:2rem;
}

.my-3 {
	margin-top:3rem;
	margin-bottom:3rem;
}

.my-4 {
	margin-top:4rem;
	margin-bottom:4rem;
}

.my-5 {
	margin-top:5rem;
	margin-bottom:5rem;
}

